<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Funding goal:</strong>
  <%= @project.goal %>
</p>

<p>
  <strong>Still need :</strong>
  <p class="need_money">  
    <%= @need_money %>
  </p>
</p>

<p>
  <strong>Rewards</strong>
  <% @project.rewards.each do |reward| %>
    <p><%= link_to reward.description, choose_reward_project_path(reward: reward) %></p>
    <p><%= reward.amount %></p>
  <% end %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
