<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @project.image.url(:medium) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Funding goal:</strong>
  <%= @project.goal %>
</p>

<p>
  <strong>Still need :</strong>
  <p id="need_money">  
    <%= @project.distance_to_goal %>
  </p>
</p>

<p>
  <strong >Rewards</strong>
  <div id="reward-container">
    <% @project.rewards.each do |reward| %>
      <div class="reward" data-reward-id="<%= reward.id %>">
        <p><%= link_to reward.description, choose_reward_project_path(reward: reward) , :class => "donate", :remote => true %></p>
        <p class="reward-amount" ><%= reward.amount %></p>
      </div>
    <% end %>
  </div>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>